# Ignore node_modules
node_modules/

# Ignore generated CSS output
public/css/output.css

# Ignore text content files
content/

# macOS system file
.DS_Store

# Ignore lock file (optional if you're using yarn or prefer not to track)
package-lock.json
